@use "../sass/abstracts/variables";
@use "../sass/abstracts/mixins";

.temp {
  font-size: 1.5rem;
  font-family: variables.$font__roboto_condensed;
  font-weight: bold;
  &__xl {
    font-size: 3rem;
    @include mixins.breakpoint(sm) {
      font-size: 3.5rem;
    }
    @include mixins.breakpoint(md) {
      font-size: 4rem;
    }
    @include mixins.breakpoint(lg) {
      font-size: 5rem;
    }
  }
}
